<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>

    <!-- 1. Reset CSS -->
    <link rel="stylesheet" href="/css/reset.css" />

    <!-- 2. Framework CSS (Bootstrap) -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- 3. Plugin CSS (AOS) -->
    <link rel="stylesheet" href="/css/aos.css" />

    <!-- 4. Custom CSS -->
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <div class="card shadow p-4" style="width: 100%; max-width: 400px">
        <h3 class="mb-4 text-center">Register Form</h3>

        <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-warning text-center" role="alert">
          <%= message %>
        </div>
        <% } %>
        <form action="/api/v1/auth/signup" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter your username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="/" class="btn btn-secondary">Back to Home</a>
          </div>
        </form>
      </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
