body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  background-color: #f8fff4;
  color: #1b4332;
}

/* NAVBAR */
.my-navbar {
  background-color: #95d5b2 !important;
}

.my-navbar .navbar-brand,
.my-navbar .nav-link {
  color: #1b4332 !important;
}

.my-navbar .nav-link:hover {
  color: #2d6a4f !important;
}

/* HERO SECTION */
.my-hero {
  background: linear-gradient(135deg, #40916c, #95d5b2);
  color: white;
}

/* PROJECTS SECTION */

.my-projects .card {
  background-color: #d8f3dc;
  border-color: #b7e4c7;
}

.my-projects .card-title {
  color: #1b4332;
}

.section-title {
  color: #2d6a4f;
}

/* Skill SECTION */
.my-skills ul li {
  margin-bottom: 8px;
}

/* Contact SECTION */
.my-contact a {
  color: #40916c;
}

.my-contact a:hover {
  color: #1b4332;
}

/* Footer SECTION */
.my-footer {
  background-color: #95d5b2;
  color: #1b4332;
}
